@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap");

:root {
  --gray: #e2e8f0;
  --blue: #0891b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
  font-size: 1.2rem;
}

button {
  font-family: inherit;
}

/* Header */

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem 2rem 1rem;
  font-weight: 500;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2rem;
}

.header-top-left,
.header-top-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-top-left input[type="search"] {
  width: min(90%, 1200px);
  background-color: var(--gray);
  border: none;
  border-radius: 2rem;
  outline-color: var(--blue);
  padding: 1rem;
}

.header-top-right {
  justify-content: flex-end;
}

.header-top-right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-top-left svg,
.header-top-right svg {
  height: 1.5rem;
  fill: black;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .profile-details {
  align-items: center;
}

.header-bottom .profile-details,
.header-bottom .profile-controls {
  display: flex;
  gap: 1rem;
}

.header-bottom .profile-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header-bottom button {
  padding: 0.75rem 2rem;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}

.header-bottom p + p {
  font-size: 1.6rem;
}

/* Sidebar */

.sidebar {
  background-color: var(--blue);
  color: white;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-row: 1 / 3;
  padding: 2rem;
  row-gap: 2rem;
}

.sidebar svg {
  fill: white;
  height: 2.5rem;
}

.dashboard-container {
  display: flex;
  align-items: center;
}

.dashboard-container h1 {
  font-size: 1.75rem;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-menu li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.7rem 0;
  font-weight: 500;
}

.sidebar-menu svg {
  height: 1.5rem;
}

.sidebar-menu li:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Content */

.content-wrapper {
  background-color: var(--gray);
}
