@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --gray: #e2e8f0;
  --blue: #0891b2;
  --box-shadow-value: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template: 1fr 4fr / 1fr 5fr;
}

button {
  font-family: inherit;
}

/* Header */

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem 2rem 1rem;
  font-weight: 500;
  box-shadow: var(--box-shadow-value);
  z-index: 1;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 2rem;
}

.header-top-left,
.header-top-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-top-left input[type="search"] {
  width: min(90%, 1200px);
  background-color: var(--gray);
  border: none;
  border-radius: 2rem;
  outline-color: var(--blue);
  padding: 1rem;
}

.header-top-right {
  justify-content: flex-end;
}

.header-top-right img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-top-left svg,
.header-top-right svg {
  height: 1.5rem;
  fill: black;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .profile-details {
  align-items: center;
}

.header-bottom .profile-details,
.header-bottom .profile-controls {
  display: flex;
  gap: 1rem;
}

.header-bottom .profile-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header-bottom button {
  padding: 0.75rem 2rem;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
}

.header-bottom p + p {
  font-size: 1.6rem;
}

/* Sidebar */

.sidebar {
  background-color: var(--blue);
  color: white;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-row: 1 / 3;
  padding: 2rem;
  row-gap: 2rem;
}

.sidebar svg {
  fill: white;
  height: 2.5rem;
}

.dashboard-container {
  display: flex;
  align-items: center;
}

.dashboard-container h1 {
  font-size: 1.75rem;
}

.sidebar-menu {
  list-style: none;
}

.sidebar-menu li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.7rem 0;
  font-weight: 500;
}

.sidebar-menu p {
  font-size: 1.2rem;
}

.sidebar-menu svg {
  height: 1.5rem;
}

.sidebar-menu li:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

/* Content */

.content-wrapper {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

.right-column {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 1rem;
}

.content-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

/* Projects */

.projects {
  grid-row: 1/3;
}

.projects h3,
.announcements h3,
.trending h3 {
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  border-left: 10px orange solid;
  box-shadow: var(--box-shadow-value);
}

.card h3 {
  margin-bottom: 0.625rem;
}

.card p {
  color: #78716c;
}

.card .icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.card svg {
  height: 1.5rem;
}

/* Announcements */
.announcements {
  padding: 1.5rem;
  border-radius: 0.625rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-value);
}

.announcements p {
  font-size: 0.8rem;
}

.ann-card {
  display: flex;
  flex-direction: column;
  /* padding: 0.8rem 0; */
}

.ann-card:first-child {
  padding: 0 0 0.8rem;
}

.ann-card:last-child {
  padding: 0.8rem 0 0;
}

.ann-card:nth-child(2) {
  padding: 0.8rem 0;
}

.ann-card:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

/* Trending */

.trending {
  background-color: blue;
}
